mat-toolbar {
  background-color: #00a9f4;
  color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

mat-icon {
  margin-right: 15px;
}

mat-sidenav {
  margin-top: 64px;
}

mat-sidenav-content {
  min-height: calc(100vh - 64px);
}

.active {
  font-weight: bold;

  mat-icon {
    color: #96d7e8 !important;
  }
}
